.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card {
    width: 100%;
    overflow-x: auto;
}

.card::-webkit-scrollbar {
    height: 6px;
}

.card::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}


table {
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
    overflow: hidden;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

table th,table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    font-weight: 600;
}

.td-text {
    max-width: 250px;
    word-wrap: break-word;
    white-space: normal;
}


table tr:hover {
    background-color: #f4f6f9;
}

table tr:nth-child(even) {
    background-color: #f9fbfc;
}

table td {
    color: #2c3e50;
}

td a{
    text-decoration: none;
    color: black;
}

.btn-edit,
.btn-hapus {
    margin: 5px auto;
    display: block;
    width: 60px;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn-edit {
    background: #007bff;
}

.btn-hapus {
    background: #d9534f;
}


.tombol-tambah{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    
}

.tambah{
    border-color: #007bff;
    margin-top: 30px;
    padding: 10px 0px;
    border-radius: 5px;
    width: 150px;
    background-color: #007bff;
    color: #ffffff;
}
