.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffffff;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    overflow-x: auto;
}

.card::-webkit-scrollbar {
    height: 6px;
}

.card::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.card p {
    font-size: 1.5em;
    font-weight: bold;
    color: #27ae60;
}

table {
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    margin-top: 20px 20px 20px 15px;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

table th,table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #2c3e50;
    color: white;
    font-weight: 600;
}

table tr:hover {
    background-color: #f4f6f9;
}

table tr:nth-child(even) {
    background-color: #f9fbfc;
}

table td {
    color: #2c3e50;
}

td a{
    text-decoration: none;
    color: black;
}

.btn-hapus {
    margin: 5px auto;
    display: block;
    width: 60px;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

.btn-hapus:hover {
    background: #0056b3;
}

.btn-hapus:active {
    background-color: #007bff;
}