.container {
    display: block;     
    margin: 40px auto ;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 80%;
    min-width: 280px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.tombol_submit{
    display: flex;
    justify-content: center;
}

button {
    width: 50%;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0px;
    margin-top: 40px;
}

button:hover {
    background: #0056b3;
}

button:active {
    background-color: #007bff;
}

.password-klik {
    position: relative;
}

.icon-mata {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

p {
    font-size: 20px;
}

