* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Header dengan navigasi */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px 30px 20px 20px;
    font-family: 'Arial', sans-serif;
}

/* icon dan nama kos */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.namakos{
    padding-top: 20px;
    font-size: 20px;
}

.logo img{
    width: 60px;
    height: auto;
}

/* navigasi bar */

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin-right: 15px;
    margin-top: 25px;
}

nav a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 3px;
}

nav a:hover {
    background-color: #ffb347;
    color: #1c1c1c;
    border-radius: 4px;
}

nav a:active {
    color: #fdfdfd; 
}

.hamburger{
    display: none;
    font-size: 24px;
    color: #f2f2f2;
    cursor: pointer;
    position: relative;
    padding-top: 20px;
    padding-right:10px ;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 6px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.nav-link.active::after,
.nav-link:hover::after {
    width: 100%;
}

/* Footer */

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsivitas */

#menu-toggle{
    display: none;
}

@media (max-width: 850px) {
    nav ul {
    position: relative;
    z-index: 9999;
    display: none;
    flex-direction: column;
    background: #007bff ;
    position: absolute;
    top: 80px;
    right: 0px;
    width: 200px;
    border-radius: 10px 0 20px 0;
    padding: 10px 10px;
    margin-top: 30px;
    }

    .hamburger{
        display: inline-block;
    }

    #menu-toggle:checked+.hamburger+ul{
        display: flex;
    }
}